<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Facebook</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <script src="./check.js" type="module"></script>
</head>
<body>
    <div class="container">
        <h1 class="mb-4">Welcome to Facebook</h1>
        <h5>Add New Post</h5>
        <form action="/add-feed" method = "POST" id="form-221">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Name</label>
              <input type="text" name="name" class="form-control" id="exampleInputEmail1" placeholder="what's the news?" required >
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Message</label>
              <input type="text" name="message" class="form-control" id="exampleInputPassword1" placeholder="tell us a story" required>
            </div>
            <button type="submit" class="btn btn-info">Submit</button>
          </form>
    
        <% if (result.length> 0 ) {%>
            <% result.forEach(element=> { %>
                <div class="card mt-4">
                    <div class="card-body">
                        <h5 class="card-title"><%= element.name %></h5>
                        <p class="card-text mb-2"><%= element.message %></p>
                        <p><%= element.createdAt.toLocaleDateString() %></p>
                        <a href=/feed/<%= element._id%> class="btn btn-secondary">Read More</a>
                     </div>
                     
                </div>
            <% }); %>
                <% } else { %>
                    nobody didn't make a post yet.
        <% } %>
    </div>
</body>
</html>